{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "licence = :licence",
    "expressionValues": {
      ":licence": {
        "S": "$ctx.source.licence"
      }
    }
  }
}
