{
  "version": "2018-05-29",
  "operation": "DeleteItem",
  "key": {
    "policyId": $util.dynamodb.toDynamoDBJson($ctx.args.policyId),
    "updateTime": $util.dynamodb.toDynamoDBJson($ctx.args.updateTime),
  },
}
