{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "licence": $util.dynamodb.toDynamoDBJson($ctx.args.licence),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args),
  "condition": {
    "expression": "attribute_not_exists(#licence)",
    "expressionNames": {
      "#licence": "licence"
    }
  }
}
