#**
The 'params' key accepts any valid Elasticsearch DSL expression.
You must replace the <index>, <type>, and <field> placeholders with actual values.
*#
{
    "version":"2017-02-28",
    "operation":"POST",
    "path":"/alert/_delete_by_query",
    "params": {
    "body": {
      "query": {
      		"bool": {
      		"must": [
            	{"match": {"licence": "$context.arguments.licence"}},
        		  {"match": {"alertDate": $context.arguments.alertDate}}
          	]
          }
          }
        }
  	}
}
