{
  "version": "2018-05-29",
  "operation": "DeleteItem",
  "key": {
    "licence": $util.dynamodb.toDynamoDBJson($ctx.args.licence),
    "startDate": $util.dynamodb.toDynamoDBJson($ctx.args.startDate),
  },
}
