#**
$context.result contains the full response of the Elasticsearch query.
Select a subset of information or iterate through hits to return the
same shape as is expected by this field.
[
#foreach($entry in $context.result.hits.hits)
  $util.toJson($entry.get("_source"))
#end
]
*#

$util.toJson({
  "licence": $context.result.get('_source')['licence'],
  "vin": $context.result.get('_source')['vin'],
  "pathTimestamp": $context.result.get('_source')['pathTimestamp'],
  "startTimestamp": $context.result.get('_source')['startTimestamp'],
  "fleetId": $context.result.get('_source')['fleetId'],
  "lat": "$context.result.get('_source')['location']['lat']",
  "lng": "$context.result.get('_source')['location']['lon']"
})
