{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "policyId": $util.dynamodb.toDynamoDBJson($ctx.args.policyId),
    "updateTime": $util.dynamodb.toDynamoDBJson($ctx.args.updateTime),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args),
  "condition": {
    "expression": "attribute_not_exists(#policyId) AND attribute_not_exists(#updateTime)",
    "expressionNames": {
      "#policyId": "policyId",
      "#updateTime": "updateTime",
    },
  },
}
