{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "licence": $util.dynamodb.toDynamoDBJson($ctx.args.licence),
    "vin": $util.dynamodb.toDynamoDBJson($ctx.args.vin),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args),
  "condition": {
    "expression": "attribute_not_exists(#licence) AND attribute_not_exists(#vin)",
    "expressionNames": {
      "#licence": "licence",
      "#vin": "vin",
    },
  },
}
