#**
The 'params' key accepts any valid Elasticsearch DSL expression.
You must replace the <index>, <type>, and <field> placeholders with actual values.
*#
#set($id=$ctx.args.licence+'_'+$ctx.args.alertDate)

{
    "version": "2018-05-29",
    "operation":"POST",
    "path":"/alert/_update/$id",
    "params":{
        "body": {
        	"doc": $util.toJson(
        		$context.arguments
      		)
        }
    }
}
