{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "policyTypeId": $util.dynamodb.toDynamoDBJson($ctx.args.policyTypeId),
    "updateTime": $util.dynamodb.toDynamoDBJson($ctx.args.updateTime),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args),
  "condition": {
    "expression": "attribute_not_exists(#policyTypeId) AND attribute_not_exists(#updateTime)",
    "expressionNames": {
      "#policyTypeId": "policyTypeId",
      "#updateTime": "updateTime",
    },
  },
}
