{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "motTestNumber": $util.dynamodb.toDynamoDBJson($ctx.args.motTestNumber),
    "text": $util.dynamodb.toDynamoDBJson($ctx.args.text),
  },
}
