#if($ctx.error)
  	$utils.error($ctx.error.message, $ctx.error.type)
#end

#set($body = $util.parseJson($ctx.result.body))
#if(!$body || !$body.results)
	$utils.error("Can't parse response.")
#end

{
	"items": [
        #foreach( $i in $body.results )
            #if( $velocityCount > 1 ) , #end
            $util.toJson({
                "date": $i[0],
                "score": $i[1]
            })
        #end
	]
}