{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "licence": $util.dynamodb.toDynamoDBJson($ctx.args.licence),
    "startTimestamp": $util.dynamodb.toDynamoDBJson($ctx.args.startTimestamp),
  },
}
