#set($query = "
	select vin, max(odometer) as metres
	from riskos_dev.vehicle_state_view
	where fleetId='$ctx.args.fleetId'
	group by vin
")

#set($body = {
	"project": "riskos",
    "sql": $query
})

{
	"version": "2018-05-29",
	"method": "POST",
	"resourcePath": "/kylin",
	"params":{
		"body": $utils.toJson($body),
		"headers": {
			"Authorization": "Basic $ctx.prev.result.token",
			"Content-Type": "application/json"
		}
  }
}