{
	"items": [
		#foreach($item in $context.result.aggregations.vehicles.buckets)
        	#if( $velocityCount > 1 ) , #end
  			$util.toJson({
            	"registrationNumber": $item.key,
				"tripPremiumSum": $item.premium.value,
                "tripDistanceInMetresSum": $item.distance.value
            })
		#end
	]
}