{
    "items": [
        #foreach($entry in $context.result.aggregations.kinds.buckets)
                ## $velocityCount starts at 1 and increments with the #foreach loop **
                #if( $velocityCount > 1 ) , #end
                $utils.toJson({
                  "kind": $entry.get('key'),
                  "count": $entry.get('doc_count')
                })
        #end
	]
}