#set($id=$ctx.args.fleetId+'_'+$ctx.args.period+'_'+$ctx.args.periodEndTimestamp)

{
    "version":"2018-05-29",
    "operation":"GET",
    "path":"/fleetpremium/_doc/$id",
    "params": {
    	"body": {
      }
    }
}
