{
    "version":"2018-05-29",
    "operation":"GET",
    "path":"/scorezone/_search",
    "params": {
    	"body": {
            "query": {
		   		"bool": {
    				"must": [
						{"match" : { "licence" : "$ctx.arguments.licence" }},
						{"match" : { "zoneStartTimestamp" : $ctx.arguments.zoneStartTimestamp }}
					]
				}
			}
        }
    }
}
